* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

footer {
    display: flex;
    width: 100vw;
    background-color: white;
    padding: 30px;
}

footer h3 {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gridContainer {
    display: grid;
    width: 100%;
    border-top: 1px solid lightgray;
    gap: 1px;
    align-items: center;
}

.footerList{
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    background-color: white;
    left: 30px;
    width: calc(100% - 70px);
    list-style-type: none;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.colButton {
    padding: 20px;
}

.footerList li {
    padding: 5px;
}

.footerList li:hover {
    background-color: lightgray;
}

#fl2 {
    left: 34vw;
}

#fl3 {
    left: 66vw;
}

.col {
    display: none;
}

.col:checked~.footerList {
    display: flex;
}

#cIcon {
    height: 10px;
}

[id^='item'] {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

@media(min-width: 701px) {
    .footerList {
        width: calc(30vw - 30px);
    }
    .gridContainer {
        grid-template-columns: auto auto auto;
        gap: 10px;
    }
    .gridContainer h3 {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    #item1, #item4, #item7 {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #item2, #item5, #item8 {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    #item3, #item6, #item9 {
        grid-column-start: 3;
        grid-column-end: 4;
    }
}