header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100vw;
    padding: 20px;
    background-color: white;
}

header input {
    display: none;
}

.b-container {
    display: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b-container:hover {
    .m-button, .m-button::before, .m-button::after {
        background-color: var(--highlight);
    }
}

.m-button, .m-button::before, .m-button::after {
    display: block;
    background-color: black;
    position: absolute;
    height: 2px;
    width: 20px;
}

.m-button::before {
    content: '';
    margin-top: -6px;
}

.m-button::after {
    content: '';
    margin-top: 6px;
}

.menu {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 95vw;
    height: 100vh;
    list-style-type: none;
    background-color: white;
}

#ham ~ .menu {
    translate: -100%;
    transition: translate 1s;
}

#ham:checked ~ .menu {
    translate: 0;
    transition: translate 1s;
}

.menu li {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid darkgray;
    width: 100%;
}

.c-button {
    display: block;
    background-color: black;
    position: absolute;
    height: 2px;
    width: 20px;
    rotate: 45deg;
}

.c-button::before {
    content: '';
    display: block;
    background-color: black;
    position: absolute;
    height: 2px;
    width: 20px;
    rotate: -90deg;
}

#hitbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 85vw;
}

#hitbox:hover {
    .c-button, .c-button::before {
        background-color: var(--highlight);
    }
}

@media (max-width: 700px) {
    .b-container {
        display: flex;
    }
}