* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
    background-color: gray;
}

:root {
    --bg-color: rgb(24,44,60);
    --fds-blue-05: #ECF3FF;
    --highlight: #3578E5;
}
  
/*main*/

.product {
    display: flex;
    flex-direction: row;
    height: 90vh;
    padding: 30px;
    gap: 20px;
    background-color: var(--bg-color);
}

#ptexts {
    position: absolute;
    font-size: 5vw;
    color: white;
    z-index: 3;
}

#ptexts h1, p {
    font-size: 5vw;
}

#title {
    font-weight: 600;
}

#vrGoggles {
    height: 70vw; width: 70vw;
    right: 0;
    top: 0;
}

@media (max-width: 700px) {
    .product {
        flex-direction: column;
    }
    #ptexts {
        position: relative;
    }
    #ptexts h1, p {
        font-size: 10vw;
    }
}